ion-toolbar{
    font-family: 'Pacifico', cursive;
    text-align: center;
}

ion-content{
    #map{
        width: 100%;
        height: 60%;
        display: block;
    }
    #indicaciones{
        font-size: small;
        padding: 10px;
        width: 100%;
        height: 40%;
        overflow-y: auto;
        display: block;
    }
    .go-btn{
        --ion-color-primary: #012c56;
    }
    .sign-btn{
        --ion-color-primary: #fbb31c;
    }
    ion-toolbar{
        --ion-background-color: transparent;
        --opacity: 0;
    }
}
#ruta{
    text-align: center;
}
ion-item{
    --ion-background-color:transparent !important;
    box-shadow: none !important;
}
