ion-card-header+.card-content-md {
    padding-top: 0;
    display: contents;
}
ion-item{
    --ion-background-color:transparent !important;
    box-shadow: none !important;
}
.ion-padding{
    display: inherit;
    --ion-background-color:transparent !important;
    box-shadow: none !important;
}


.login-btn{
    --ion-color-primary: #012c56;
}

ion-card{
    .viajes{
        text-align: left;
        color: black;
        font-weight: bold;
    }
    .info_viaje{
        float: right;
        color: royalblue;
    }
    .sign-btn{
        --ion-color-primary: #012c56;
    }
}
.sign-btn{
    --ion-color-primary: #012c56;
}

#map{
    width: 100%;
    height: 60%;
    display: block;
}
#indicaciones{
    font-size: small;
    height: 40%;
    overflow-y: auto;
    display: block;
}

#ruta{
    text-align: center;
}
