<ion-header>
  <ion-toolbar>
    <ion-title>Crear cuenta</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-label> Completa los siguientes campos </ion-label>
    </ion-card-header>
    <ion-card-content>
      <!-- <form [formGroup]="usuario" (ngSubmit)="registrar()"> -->
        <ion-item>
          <ion-label position="stacked">Rut</ion-label>
          <ion-input
          [(ngModel)]="datos.rut"
            type="text"
            placeholder="Ingrese rut"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input
          [(ngModel)]="datos.nombre"
            type="text"
            placeholder="Ingrese nombre"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellido paterno</ion-label>
          <ion-input
          [(ngModel)]="datos.p_apellido"
            type="text"
            placeholder="Ingrese apellido paterno"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellido materno</ion-label>
          <ion-input
          [(ngModel)]="datos.s_apellido"
            type="text"
            placeholder="Ingrese apellido materno"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input
          [(ngModel)]="datos.correo"
            type="text"
            placeholder="Ingrese su correo"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Fecha nacimiento</ion-label>
          <ion-input
          [(ngModel)]="datos.fnac"
            type="date"
            placeholder="Ingrese fecha nacimiento"
          ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Tipo usuario</ion-label>
          <ion-select [(ngModel)]="datos.perfil" placeholder="Selecciona tipo">
            <ion-select-option value="conductor">Conductor</ion-select-option>
            <ion-select-option value="pasajero">Pasajero</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
          [(ngModel)]="datos.password"
            type="password"
            placeholder="Ingrese contraseña"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Repita Contraseña</ion-label>
          <ion-input
            type="password"
            placeholder="Ingrese nuevamente contraseña"
            [(ngModel)]="verificar_password"
            [ngModelOptions]="{standalone: 'true'}"  trim
          ></ion-input>
        </ion-item>
        <ion-button class="sign-btn" type="submit" (click)="registrar()" >REGISTRAR</ion-button>
        <ion-button class="sign-btn" type="reset" class="login-btn">LIMPIAR</ion-button>
        
      <!-- </form> -->

    </ion-card-content>
  </ion-card>
</ion-content>
