ion-content{
    --ion-background-color: #E1EAF9 !important
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}
ion-item{
    
    color:#647b9d;
    --border-color: #d4d7d8;
    --highlight-color-focused:#1248a0;
    --padding-start:0;
    --inner-padding-end:0;



    font-size: 12px;
    
    ion-input{
        color: #647b9d;
    }

    ion-icon {
        padding-right: 6px;
        font-size: 18px;

    }

    ion-input:hover{
        color: #1238a0;
    }
}

.signin-btns{
    margin-top: 60px;
    margin-left: 2%;
    margin-right: -3%;
    text-align: center;
}
.login-btn{
    --ion-color-primary: #012c56;
}
.sign-btn{
    --ion-color-primary: #fbb31c;
}

.text-tag{
    margin-top: 40px;
    text-align: center;
    span{
        font-size: 13px;
        font-weight: normal;
        color: #898585;
    }
}

.social-btns{
    text-align: center;
    ion-button{
        width:30px;
        padding-left: 5px !important;
    }
}

ion-card{
    --ion-background-color:transparent !important;
    box-shadow: none !important;
}

.ion-card-footer{

    span{
        color: #85888d;
        font-size: 12px;
        font-weight: 200;
    }

    button{
        background-color: transparent;
        font-size: 14px;
        font-weight: 600;
        padding-left: 3px;
    }

}
ion-toolbar{
    box-shadow: none !important;
    text-align: center;
    font-weight: 200;
    color: #012c56;
    font-family: 'Pacifico', cursive;
    --background: url(/assets/img/banner.png) no-repeat center/cover fixed;
  }