
<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <ion-avatar class="avatar">
          <ion-img class="pic" src="assets/img/EgAI3HLXsAAsWVb.jpg"></ion-img>
        </ion-avatar>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="playername">Cristo Rey</h3>
      <h5 class="country">Duoc sede Puente Alto</h5>
      <h6 class="ranking">Anuncios<ion-chip>
        <ion-label>2</ion-label>
        </ion-chip>
      </h6>
    </div>
    <ion-button expand="full" shape="round" fill="solid" color="primary">Nuestro Facebook</ion-button>
    <ion-button expand="full" shape="round" fill="solid" color="secondary">Duoc web</ion-button>
  </div>
  <div class="sign-btn-wrap">
      <ion-button expand="full" (click)="logout()" shape="round" fill="solid" class="sign-btn">Cerrar sesión</ion-button>
  </div>
</ion-content>
