<ion-header>
  <ion-toolbar>
    <ion-img src="assets/img/Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="usuario" (ngSubmit)="agregar()">
    <ion-card>
      <ion-item>
        <ion-label position="stacked">Rut</ion-label>
        <ion-input formControlName="rut" id="rut" type="text" placeholder="Ingrese rut"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input formControlName="nom_completo" id="nom_completo" type="text" placeholder="Ingrese nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha nacimiento</ion-label>
        <ion-input formControlName="fecha_nac" id="fecha_nac" type="date">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Tipo usuario</ion-label>
        <ion-select placeholder="Selecciona tipo" formControlName="tipo_usuario">
          <ion-select-option value="conductor">Conductor</ion-select-option>
          <ion-select-option value="pasajero">Pasajero</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" id="email" type="email" placeholder="Ingrese email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Clave</ion-label>
        <ion-input formControlName="password" id="password" type="password" placeholder="Ingrese clave"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Repetir Clave</ion-label>
        <ion-input [(ngModel)]="repetir_clave" [ngModelOptions]="{standalone: true}" id="repetir_clave" type="password"
          placeholder="Ingrese clave nuevamente"></ion-input>
      </ion-item>

      <ion-button expand="full" shape="round" fill="solid" type="submit" >REGISTRAR</ion-button>
      <ion-button expand="full" shape="round" fill="solid" (click)="modificar()" color="warning" >MODIFICAR</ion-button>
      <ion-button expand="full" shape="round" fill="solid" type="reset" class="login-btn">LIMPIAR</ion-button>
    </ion-card>
  </form>

  <h1>Lista de usuarios</h1>
  <div>
    <ion-list *ngFor="let u of usuarios">
      <ion-card>
        <ion-item>
          <ion-card-header>
            <ion-row>
              <ion-col><ion-card-title>{{u.nom_completo}}</ion-card-title></ion-col>
              <ion-col><ion-card-subtitle>{{u.rut}}</ion-card-subtitle></ion-col>
            </ion-row>
          </ion-card-header>
          <ion-row class="opt-btn">
            <ion-col class="srch-btn"><ion-button color="warning" (click)="buscar(u.rut)">
              <ion-icon slot="icon-only" name="search-outline"></ion-icon>
            </ion-button></ion-col>
            <ion-col><ion-button color="danger" (click)="eliminar(u.rut)">
              <ion-icon slot="icon-only" name="trash-outline" ></ion-icon>
            </ion-button></ion-col>
          </ion-row>
        </ion-item>
        <ion-card-content>
          {{u.tipo_usuario}}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #elseBlock>
    <p>No existen usuarios</p>
  </ng-template>
</ion-content>