.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            top: 55%;
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}
ion-card-header{
    top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

ion-content {
    --background:white;
  }
