button{
    background-color: transparent;
}
ion-title{
    font-size: 25px;
    text-align: center;
    font-family: 'Lobster';
}
ion-card{
    text-align: center;
    font-size: xx-small;
    img{
        max-width: 80%;
        text-align: center;
    }
}
