<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Aves Chilenas</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <ion-subtitle>Estas son algunas de las aves presentes en nuestra zona</ion-subtitle>
      </ion-col>
    </ion-row>

    <ion-list *ngFor="let digimon of digimon">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-grid>
              <ion-row>
                <ion-col class="img-col">
                  <img alt="a" src="{{digimon.images.main}}"/>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-card-title>Nombre ave : {{digimon.name.spanish}} </ion-card-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>






</ion-content>
