<ion-content>
  <ion-title>Noticias y Novedades</ion-title>
    <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_1.jpg" />
        <ion-card-header>
          <ion-card-title>Concepción recibe a ACHAP en “The Conce Experience”</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          PUBLICADO EL 14 OCTUBRE, 2022
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_2.png" />
        <ion-card-header>
          <ion-card-title>Circus chileno: Conoce el desafiante concurso publicitario impulsado por Duoc UC</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL 7 OCTUBRE, 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_3.png" />
        <ion-card-header>
          <ion-card-title>Duoc UC lanza nueva carrera: Ingeniería en Marketing Digital</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL 6 OCTUBRE, 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_4.png" />
        <ion-card-header>
          <ion-card-title>Reconocidas empresas del mundo de las maquinarias e ingeniería expusieron en Duoc UC Maipú</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL 6 OCTUBRE, 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_5.jpg" />
        <ion-card-header>
          <ion-card-title>FUAS: Accede a gratuidad y otros beneficios estudiantiles</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL 7 OCTUBRE, 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_6.jpg"/>
        <ion-card-header>
          <ion-card-title>Seguimos fomentando la participación de las mujeres en la Industria TI</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL 4 OCTUBRE, 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_7.jpg" />
        <ion-card-header>
          <ion-card-title>Sede Puerto Montt: Embajadores del Medioambiente</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL 3 AGOSTO, 2022</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/img/portada_8.png" />
        <ion-card-header>
          <ion-card-title>¡Faltan pocos días para el proceso de Admisión 2023!</ion-card-title>
          <ion-card-subtitle>PUBLICADO EL</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
</ion-content>
