<ion-content class="background-image" no-scroll padding>
  <div id="container">
    <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>
        <img src="../../../assets/img/love.png" alt="">
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle class="ion-text-lowercase">
        <h1>¡Bienvenido!</h1>
        Como institución, estamos comprometidos en brindar un servicio de calidad para nuestros estudiantes.
      </ion-card-subtitle> 
      <div class="signin-btns">
        <ion-button fill="solid" shape="round" class="login-btn" routerLink='/login'>
          Iniciar sesión
        </ion-button>
        <ion-button shape="round" class="sign-btn" routerLink='/registrar' >
          Crear cuenta
        </ion-button>
      </div>
    </ion-card-content>
</ion-card>
</div>
  

</ion-content>