<ion-content>
  <ion-card style="box-shadow: none !important;">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align:center;">
          <ion-card-title>Viajes disponibles</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align:center;">
          <ion-card-subtitle>Estos son algunos de los viajes que han sido programados</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-list *ngFor="let tarifas of tarifas">
        <ion-card class="viajes">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>Hora de salida : </ion-label><ion-label class="info_viaje">{{tarifas.hora_salida}} </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Puestos disponibles : </ion-label><ion-label class="info_viaje">{{tarifas.puestos_disp}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Costo del viaje :  </ion-label><ion-label class="info_viaje"><ion-label style="color: black;">$ </ion-label>{{tarifas.precio}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button (click)="verViaje(tarifas)" size="small" shape="round" class="sign-btn" expand="full">Ver</ion-button>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-label *ngIf="">No hay viajes disponibles.</ion-label>
</ion-content>
