<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Viajes disponibles</ion-card-title>
      <ion-card-subtitle>Estos son algunos de los viajes que han sido programados</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let viaje of tarifa">
        <ion-card class="viajes">
          <ion-label>Hora salida : </ion-label><ion-label class="info_viaje">{{viaje.hora_salida}} </ion-label>
          <br>
          <ion-label>Puestos disponibles : </ion-label><ion-label class="info_viaje">{{viaje.puestos_disp}}</ion-label>
          <br>
          <ion-label>Costo del viaje : </ion-label><ion-label class="info_viaje">{{viaje.precio}}</ion-label>
          <ion-button class="sign-btn" expand="full" >Ver</ion-button>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
