<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Viajes disponibles</ion-card-title>
      <ion-card-subtitle>Estos son algunos de los viajes que han sido programados</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let tarifas of tarifas">
        <ion-card class="viajes">
          <ion-label>Hora salida : </ion-label><ion-label class="info_viaje">{{tarifas.hora_salida}} </ion-label>
          <br>
          <ion-label>Puestos disponibles : </ion-label><ion-label class="info_viaje">{{tarifas.puestos_disp}}</ion-label>
          <br>
          <ion-label>Costo del viaje : $ </ion-label><ion-label class="info_viaje">{{tarifas.precio}}</ion-label>
          <ion-button size="small" shape="round" class="sign-btn" expand="full" (click)="verViaje(tarifas)">Ver</ion-button>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Información viaje</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">cerrar</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                  <ion-list>
                      <ion-item>
                          <ion-label  position="stacked">Hora de salida</ion-label>
                          <ion-input disabled="true" [(ngModel)]="tarifa.hora_salida" type="time" placeholder="Hora de salida"></ion-input>
                        </ion-item>
                      <ion-item>
                          <ion-label position="stacked">Capacidad disponible</ion-label>
                          <ion-select disabled="true" [(ngModel)]="tarifa.puestos_disp" placeholder="Selecciona asientos">
                            <ion-select-option >1</ion-select-option>
                            <ion-select-option >2</ion-select-option>
                            <ion-select-option >3</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                          <ion-label  position="stacked">Valor del viaje</ion-label>
                          <ion-input disabled="true" [(ngModel)]="tarifa.precio" type="number" placeholder="Ingrese tarifa"></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button class="sign-btn" expand="full" shape="round" (click)="guardar()">Aceptar</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-label *ngIf="">No hay viajes disponibles.</ion-label>
</ion-content>
